<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <coverage>
        <include>
            <directory suffix=".php">app/Http/Controllers</directory>
            <directory suffix=".php">app/Models</directory>
            <directory suffix=".php">app/Middleware</directory>
        </include>
        <exclude>
            <directory suffix=".php">app/Exceptions</directory>
            <directory suffix=".php">app/Providers</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage"/>
        </report>
    </coverage>
</phpunit>
